.App {
    background: rgb(110, 192, 192);
    background: radial-gradient(
      circle,
      rgb(127, 215, 242) 0%,
      rgb(216, 233, 237) 84%,
      rgb(209, 228, 227) 100%
    );
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
  }